In [1]:
import pandas as pd
pd.set_option('display.mpl_style', 'default')
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

//anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2885: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  exec(code_obj, self.user_global_ns, self.user_ns)
//anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
eveningdrop = pd.read_json("eveningdropoffs.json", orient="index")

In [3]:
eveningdrop[2010.0]=(eveningdrop[2010.0]-eveningdrop[2010.0].mean())/eveningdrop[2010.0].std()
eveningdrop[2011.0]=(eveningdrop[2011.0]-eveningdrop[2011.0].mean())/eveningdrop[2011.0].std()
eveningdrop[2012.0]=(eveningdrop[2012.0]-eveningdrop[2012.0].mean())/eveningdrop[2012.0].std()
eveningdrop[2013.0]=(eveningdrop[2013.0]-eveningdrop[2013.0].mean())/eveningdrop[2013.0].std()

In [4]:
eveningdrop.dropna(inplace=True)

In [5]:
evening95 = eveningdrop[eveningdrop<eveningdrop.quantile(0.95)]
evening95.describe()

,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0
count,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000
mean,-0.198637,-0.200153,-0.199555,-0.199234,65839.313187,57961.368132
std,0.387243,0.387935,0.388944,0.394765,167898.681664,146066.311685
min,-0.337035,-0.343057,-0.345747,-0.350684,7.000000,22.000000
25%,-0.331482,-0.337335,-0.340201,-0.344915,2626.500000,2603.750000
50%,-0.323828,-0.329511,-0.332040,-0.337169,6380.000000,6210.000000
75%,-0.273782,-0.275898,-0.276546,-0.278740,32402.000000,32732.250000
max,2.124684,2.051910,2.075177,2.010116,992865.000000,881965.000000

In [7]:
eveningdeltas = evening95.pct_change(axis = 1)
eveningdeltas = eveningdeltas.drop(2010.0, axis = 1)
eveningdeltas.dropna()
eveningdeltas.describe(percentiles=[0.05, 0.1, 0.5, 0.85, 0.9, 0.95])

           2011.0      2012.0      2013.0        2014.0      2015.0
count  181.000000  182.000000  182.000000  1.820000e+02  182.000000
mean     0.041356    0.043340    0.017968 -1.984170e+05   -0.041455
std      0.296096    0.374012    0.212913  1.633672e+06    0.187791
min     -1.122990   -0.435514   -0.601678 -1.692710e+07   -0.315789
5%      -0.084701   -0.108163   -0.048281 -1.269955e+06   -0.193079
10%     -0.023379   -0.031621   -0.020324 -2.825336e+05   -0.163713
50%      0.017443    0.007851    0.014586 -1.243990e+04   -0.062055
85%      0.019438    0.010954    0.019608 -1.012793e+03    0.048002
90%      0.020429    0.014638    0.026063  4.445377e+05    0.081843
95%      0.066080    0.098917    0.061069  8.899260e+05    0.114861
max      3.106575    4.106260    2.404785  2.775225e+06    2.142857

In [8]:
largechange = eveningdeltas[deltas>=eveningdeltas.quantile(0.95)]
largechange = largechange.dropna(how='all')
largechange.describe()

NameError: name 'deltas' is not defined

In [9]:
largechange = eveningdeltas[eveningdeltas>=eveningdeltas.quantile(0.95)]
largechange = largechange.dropna(how='all')
largechange.describe()

          2011.0     2012.0     2013.0        2014.0     2015.0
count  10.000000  10.000000  10.000000  1.000000e+01  10.000000
mean    0.791044   0.962105   0.449418  1.579185e+06   0.355996
std     0.954108   1.320559   0.719023  6.820417e+05   0.629223
min     0.066080   0.100778   0.061107  8.911669e+05   0.114961
25%     0.214175   0.178388   0.106671  1.095961e+06   0.132505
50%     0.445686   0.361217   0.151104  1.241865e+06   0.138753
75%     0.801810   0.931629   0.394893  2.112593e+06   0.210573
max     3.106575   4.106260   2.404785  2.775225e+06   2.142857

In [10]:
eveningdeltas.to_csv('eveningdropoffs.csv')

In [11]:
largechange.to_csv('highchangeevening.csv')

In [12]:
largechange

,2011.0,2012.0,2013.0,2014.0,2015.0
Airport,0.182414,NaN,NaN,NaN,NaN
Arden Heights,NaN,NaN,NaN,NaN,0.141762
Astoria,0.189354,NaN,0.112231,9.192591e+05,NaN
Baisley Park,NaN,NaN,NaN,NaN,0.132313
Brooklyn Heights-Cobble Hill,3.106575,1.026438,NaN,NaN,NaN
Brownsville,NaN,NaN,NaN,NaN,0.116932
Cambria Heights,NaN,NaN,NaN,NaN,0.195587
Canarsie,NaN,NaN,NaN,NaN,0.114961
Carroll Gardens-Columbia Street-Red Hook,NaN,2.496705,NaN,NaN,NaN
Central Harlem South,0.901818,0.460633,0.187673,2.182805e+06,NaN
Chinatown,NaN,NaN,0.062153,NaN,NaN
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,0.501786,0.261801,NaN,1.145458e+06,NaN
East Flatbush-Farragut,NaN,NaN,NaN,NaN,0.215569
East Harlem North,0.487490,0.647202,NaN,2.412786e+06,NaN
East Harlem South,NaN,NaN,NaN,1.079462e+06,NaN
East New York (Pennsylvania Ave),NaN,NaN,NaN,NaN,0.135743
East Williamsburg,NaN,4.106260,2.404785,1.901958e+06,NaN
Greenpoint,1.782401,0.167092,0.739106,1.337793e+06,NaN
Hammels-Arverne-Edgemere,NaN,NaN,NaN,NaN,0.231150
Hunters Point-Sunnyside-West Maspeth,0.066080,0.141863,0.104818,1.145936e+06,NaN
Lower East Side,NaN,NaN,0.061107,NaN,NaN
Morningside Heights,NaN,NaN,NaN,8.911669e+05,NaN
North Side-South Side,0.403883,0.212274,0.271878,NaN,NaN
Queensbridge-Ravenswood-Long Island City,NaN,0.100778,NaN,NaN,NaN
Rikers Island,NaN,NaN,NaN,NaN,2.142857
Stuyvesant Town-Cooper Village,0.288638,NaN,0.435898,2.775225e+06,NaN
Washington Heights South,NaN,NaN,0.114536,NaN,NaN
West Farms-Bronx River,NaN,NaN,NaN,NaN,0.133083

In [13]:
eveningdrop = pd.read_json("eveningdropoffs.json", orient="index")

In [14]:
eveningdrop[2010.0]=(eveningdrop[2010.0]-eveningdrop[2010.0].mean())/eveningdrop[2010.0].std()
eveningdrop[2011.0]=(eveningdrop[2011.0]-eveningdrop[2011.0].mean())/eveningdrop[2011.0].std()
eveningdrop[2012.0]=(eveningdrop[2012.0]-eveningdrop[2012.0].mean())/eveningdrop[2012.0].std()
eveningdrop[2013.0]=(eveningdrop[2013.0]-eveningdrop[2013.0].mean())/eveningdrop[2013.0].std()
eveningdrop[2014.0]=(eveningdrop[2014.0]-eveningdrop[2014.0].mean())/eveningdrop[2014.0].std()
eveningdrop[2015.0]=(eveningdrop[2015.0]-eveningdrop[2015.0].mean())/eveningdrop[2015.0].std()

In [15]:
eveningdrop.dropna(inplace=True)

In [16]:
evening95 = eveningdrop[eveningdrop<eveningdrop.quantile(0.95)]
evening95.describe()

           2010.0      2011.0      2012.0      2013.0      2014.0      2015.0
count  182.000000  182.000000  182.000000  182.000000  182.000000  182.000000
mean    -0.198637   -0.200153   -0.199555   -0.199234   -0.200060   -0.199564
std      0.387243    0.387935    0.388944    0.394765    0.396109    0.400979
min     -0.337035   -0.343057   -0.345747   -0.350684   -0.355373   -0.358618
25%     -0.331482   -0.337335   -0.340201   -0.344915   -0.349193   -0.351531
50%     -0.323828   -0.329511   -0.332040   -0.337169   -0.340338   -0.341631
75%     -0.273782   -0.275898   -0.276546   -0.278740   -0.278946   -0.268822
max      2.124684    2.051910    2.075177    2.010116    1.986992    2.062481

In [17]:
eveningdeltas = evening95.pct_change(axis = 1)
eveningdeltas = eveningdeltas.drop(2010.0, axis = 1)
eveningdeltas.dropna()
eveningdeltas.describe(percentiles=[0.05, 0.1, 0.5, 0.85, 0.9, 0.95])

           2011.0      2012.0      2013.0      2014.0      2015.0
count  181.000000  182.000000  182.000000  182.000000  182.000000
mean     0.041356    0.043340    0.017968    0.007513    0.014246
std      0.296096    0.374012    0.212913    0.306176    0.185862
min     -1.122990   -0.435514   -0.601678   -2.520680   -0.938813
5%      -0.084701   -0.108163   -0.048281   -0.121351   -0.122409
10%     -0.023379   -0.031621   -0.020324   -0.019567   -0.034035
50%      0.017443    0.007851    0.014586    0.010357    0.006863
85%      0.019438    0.010954    0.019608    0.013329    0.010162
90%      0.020429    0.014638    0.026063    0.014480    0.018525
95%      0.066080    0.098917    0.061069    0.077769    0.103882
max      3.106575    4.106260    2.404785    2.965089    1.586759

In [18]:
largechange = eveningdeltas[eveningdeltas>=eveningdeltas.quantile(0.95)]
largechange = largechange.dropna(how='all')
largechange.describe()

          2011.0     2012.0     2013.0     2014.0     2015.0
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.791044   0.962105   0.449418   0.546129   0.513641
std     0.954108   1.320559   0.719023   0.859404   0.474662
min     0.066080   0.100778   0.061107   0.078004   0.104285
25%     0.214175   0.178388   0.106671   0.195440   0.183073
50%     0.445686   0.361217   0.151104   0.289209   0.312258
75%     0.801810   0.931629   0.394893   0.360855   0.691379
max     3.106575   4.106260   2.404785   2.965089   1.586759

In [19]:
largechange.to_csv('highchangeeveningwith20142015.csv')

In [20]:
eveningdrop = pd.read_json("eveningdropoffs.json", orient="index")

In [21]:
eveningdrop = eveningdrop.drop(2015.0, axis = 1)

In [22]:
eveningdrop = eveningdrop.drop(2014.0, axis = 1)

In [23]:
eveningdrop

,2010.0,2011.0,2012.0,2013.0
Airport,44351,28348.0,27935.0,21181.0
Allerton-Pelham Gardens,2428,2526.0,2428.0,2415.0
Annadale-Huguenot-Prince's Bay-Eltingville,379,394.0,358.0,360.0
Arden Heights,324,328.0,313.0,335.0
Astoria,249822,280298.0,292537.0,296585.0
Auburndale,2592,2996.0,2834.0,2666.0
Baisley Park,6659,8078.0,7656.0,7550.0
Bath Beach,4393,4581.0,4400.0,3927.0
Battery Park City-Lower Manhattan,820026,840062.0,871375.0,850980.0
Bay Ridge,51203,53428.0,55021.0,53659.0
Bayside-Bayside Hills,6478,6943.0,7131.0,6380.0
Bedford,66508,82482.0,101031.0,119457.0
Bedford Park-Fordham North,5447,5987.0,6621.0,6307.0
Bellerose,1844,2122.0,2059.0,1869.0
Belmont,3939,4417.0,4464.0,4064.0
Bensonhurst East,8326,8569.0,7810.0,7113.0
Bensonhurst West,11292,11572.0,11464.0,10671.0
Borough Park,7143,8048.0,8191.0,6828.0
Breezy Point-Belle Harbor-Rockaway Park-Broad Channel,238,227.0,255.0,198.0
Briarwood-Jamaica Hills,11121,13303.0,12370.0,11418.0
Brighton Beach,3947,4035.0,4301.0,3720.0
Bronxdale,3191,3982.0,3200.0,2973.0
Brooklyn Heights-Cobble Hill,150270,152441.0,147567.0,144243.0
Brownsville,3464,3715.0,3960.0,4120.0
Bushwick North,29695,44994.0,59521.0,80036.0
Bushwick South,66803,86077.0,109195.0,136107.0
Cambria Heights,1130,1225.0,1171.0,979.0
Canarsie,5102,6010.0,5348.0,5029.0
Carroll Gardens-Columbia Street-Red Hook,148337,157775.0,155105.0,154950.0
Central Harlem North-Polo Grounds,121332,130969.0,146571.0,150391.0
...,...,...,...,...
Sunset Park East,12139,13244.0,13434.0,13718.0
Sunset Park West,35707,41461.0,43296.0,44460.0
Todt Hill-Emerson Hill-Heartland Village-Lighthouse Hill,979,1138.0,990.0,870.0
Turtle Bay-East Midtown,1586402,1600998.0,1613788.0,1551847.0
University Heights-Morris Heights,6669,6910.0,7905.0,6863.0
Upper East Side-Carnegie Hill,1141103,1116503.0,1162065.0,1067511.0
Upper West Side,1352894,1362376.0,1350061.0,1275001.0
Van Cortlandt Village,7303,7957.0,8552.0,7854.0
Van Nest-Morris Park-Westchester Square,3770,3780.0,4165.0,3718.0
Washington Heights North,79280,86805.0,90305.0,88673.0
Washington Heights South,119153,128276.0,143383.0,137450.0
West Brighton,2044,2151.0,2332.0,1847.0
West Concourse,9087,10024.0,11419.0,10740.0
West Farms-Bronx River,3800,3781.0,4535.0,4022.0
West New Brighton-New Brighton-St. George,1223,1165.0,1011.0,840.0
West Village,2555216,2663997.0,2696448.0,2562788.0
Westchester-Unionport,4298,5413.0,6544.0,4038.0
Westerleigh,918,882.0,965.0,849.0
Whitestone,4752,5044.0,4900.0,4471.0
Williamsbridge-Olinville,2957,3042.0,3256.0,3284.0
Williamsburg,11270,11833.0,15089.0,15916.0
Windsor Terrace,30702,32491.0,34183.0,32946.0
Woodhaven,8165,8235.0,8680.0,7887.0
Woodlawn-Wakefield,6670,6888.0,6807.0,6417.0
Woodside,58487,62527.0,64597.0,61579.0
Yorkville,1031124,1068810.0,1051657.0,1016187.0
park-cemetery-etc-Bronx,3026,2958.0,3436.0,2650.0
park-cemetery-etc-Brooklyn,3805,4284.0,4577.0,4583.0
park-cemetery-etc-Queens,1285,1594.0,1792.0,1528.0
park-cemetery-etc-Staten Island,2,NaN,NaN,NaN

In [24]:
eveningdrop[2010.0]=(eveningdrop[2010.0]-eveningdrop[2010.0].mean())/eveningdrop[2010.0].std()
eveningdrop[2011.0]=(eveningdrop[2011.0]-eveningdrop[2011.0].mean())/eveningdrop[2011.0].std()
eveningdrop[2012.0]=(eveningdrop[2012.0]-eveningdrop[2012.0].mean())/eveningdrop[2012.0].std()
eveningdrop[2013.0]=(eveningdrop[2013.0]-eveningdrop[2013.0].mean())/eveningdrop[2013.0].std()

In [25]:
eveningdrop.dropna(inplace=True)

In [26]:
evening95 = eveningdrop[eveningdrop<eveningdrop.quantile(0.95)]
evening95.describe()

           2010.0      2011.0      2012.0      2013.0
count  183.000000  183.000000  183.000000  183.000000
mean    -0.199395   -0.200936   -0.200356   -0.200062
std      0.386314    0.387012    0.388025    0.393839
min     -0.337368   -0.343377   -0.346087   -0.350779
25%     -0.331500   -0.337413   -0.340235   -0.344933
50%     -0.323912   -0.329554   -0.332048   -0.337505
75%     -0.274415   -0.278121   -0.279501   -0.279562
max      2.124684    2.051910    2.075177    2.010116

In [27]:
eveningdeltas = evening95.pct_change(axis = 1)
eveningdeltas = eveningdeltas.drop(2010.0, axis = 1)
eveningdeltas.dropna()
eveningdeltas.describe(percentiles=[0.05, 0.1, 0.5, 0.85, 0.9, 0.95])

           2011.0      2012.0      2013.0
count  182.000000  183.000000  183.000000
mean     0.041227    0.043147    0.017944
std      0.295282    0.372992    0.212328
min     -1.122990   -0.435514   -0.601678
5%      -0.083775   -0.106947   -0.048101
10%     -0.022600   -0.031041   -0.020281
50%      0.017459    0.007867    0.014578
85%      0.019432    0.010922    0.019581
90%      0.020425    0.014587    0.025787
95%      0.065983    0.097056    0.061031
max      3.106575    4.106260    2.404785

In [28]:
largechange = eveningdeltas[eveningdeltas>=eveningdeltas.quantile(0.95)]
largechange = largechange.dropna(how='all')
largechange.describe()

          2011.0     2012.0     2013.0
count  10.000000  10.000000  10.000000
mean    0.791044   0.962105   0.449418
std     0.954108   1.320559   0.719023
min     0.066080   0.100778   0.061107
25%     0.214175   0.178388   0.106671
50%     0.445686   0.361217   0.151104
75%     0.801810   0.931629   0.394893
max     3.106575   4.106260   2.404785

In [29]:
largechange.to_csv('highchangeeveningupto2013.csv')

In [30]:
evening95 = eveningdrop[eveningdrop<eveningdrop.quantile(0.95)]
evening95.describe()

           2010.0      2011.0      2012.0      2013.0
count  183.000000  183.000000  183.000000  183.000000
mean    -0.199395   -0.200936   -0.200356   -0.200062
std      0.386314    0.387012    0.388025    0.393839
min     -0.337368   -0.343377   -0.346087   -0.350779
25%     -0.331500   -0.337413   -0.340235   -0.344933
50%     -0.323912   -0.329554   -0.332048   -0.337505
75%     -0.274415   -0.278121   -0.279501   -0.279562
max      2.124684    2.051910    2.075177    2.010116

In [31]:
eveningdeltas = evening95.pct_change(axis = 1)
eveningdeltas = eveningdeltas.drop(2010.0, axis = 1)
eveningdeltas.dropna()
eveningdeltas.describe(percentiles=[0.05, 0.1, 0.5, 0.85, 0.9, 0.95])

           2011.0      2012.0      2013.0
count  182.000000  183.000000  183.000000
mean     0.041227    0.043147    0.017944
std      0.295282    0.372992    0.212328
min     -1.122990   -0.435514   -0.601678
5%      -0.083775   -0.106947   -0.048101
10%     -0.022600   -0.031041   -0.020281
50%      0.017459    0.007867    0.014578
85%      0.019432    0.010922    0.019581
90%      0.020425    0.014587    0.025787
95%      0.065983    0.097056    0.061031
max      3.106575    4.106260    2.404785

In [32]:
largechange = eveningdeltas[eveningdeltas>=eveningdeltas.quantile(0.90)]
largechange = largechange.dropna(how='all')
largechange.describe()

          2011.0     2012.0     2013.0
count  19.000000  19.000000  19.000000
mean    0.432715   0.520529   0.256412
std     0.778402   1.049174   0.549790
min     0.020429   0.014690   0.026340
25%     0.024309   0.026097   0.042366
50%     0.066080   0.100778   0.061107
75%     0.445686   0.361217   0.151104
max     3.106575   4.106260   2.404785

In [33]:
largechange.to_csv('highchangeeveningupto201390pc.csv')